.myPhoneInput.at-input {
  margin-left: 0;
  font-size: 36px;
  padding: 12px 0 12px 22px;
  color: #333;
  line-height: 1;
  font-weight: bold;
}
.mySearchInput.at-input {
  margin: 0;
  padding: 0;
  color: #969696;
  font-size: 24px;
}
.myProductTab {
  .at-tabs__header {
    background-color: rgb(249, 249, 249);
    font-weight: bold;
  }
  .at-tabs__item-underline {
    height: 7px;
    width: 60%;
    left: 20%;
  }
}
.myCountryList {
  .layout-body .layout-body__content {
    max-height: none;
  }
}
.myOrder, .myCountryList {
  .layout-header .layout-header__title {
    text-align: center;
    padding: 0;
    color: #060606;
    font-size: 30px;
    font-weight: bold;
  }
}
