.myPhoneInput.at-input {
  margin-left: 0;
  font-size: 36px;
  padding: 12px 0 12px 22px;
  color: #333;
  line-height: 1;
  font-weight: bold;
}
.myProductTab {
  .at-tabs__header {
    background-color: rgb(249, 249, 249);
    font-weight: bold;
  }
  .at-tabs__item-underline {
    height: 7px;
    width: 60%;
    left: 20%;
  }
}